.skeleton-header{
    height: 30px;
    max-width: 500px;
}
.card-avatar-skeleton{
    border-radius: 50%;
    height:30px;
    width: 35px;
    margin-right: 10px;
}
.card-skeleton-video{
    height: 200px;
}
.card-skeleton-label{
    height: 20px;;
}
.title-container{
    display: flex;
    align-items: center;
}


.title-row{
    margin-top: 25px;
}

