<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Change Coach
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="updateCoaches($event)"></ion-searchbar>
  <ion-list lines="full">
    <ion-item (click)="selectCoach(coach)" *ngFor="let coach of coaches">
      <ion-avatar slot="start">
        <img [src]="coach.photoUrl" />
      </ion-avatar>
      <ion-label>
        {{ "Coach: " +  coach.fname + " " + coach.lname}}
      </ion-label>
      <ion-button size="small" color="success" fill="clear">Select Coach</ion-button>
    </ion-item>
  </ion-list>
</ion-content>